/bootstrap/compiled.php
/vendor
/modules
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
selenium.php

# for netbeans
nbproject

# Custom ignores
/node_modules
/themes/liip/assets/mix-manifest.json
/themes/liip/assets/css/app.min.css
/themes/liip/assets/css/framework.extras.min.css
/themes/liip/assets/js/app.min.js
/themes/liip/assets/js/jquery.min.js
/themes/liip/assets/js/framework.extras.min.js
/themes/liip/assets/fonts/vendor/*
/themes/liip/assets/images/vendor/*
