<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ this.page.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ 'assets/images/favicon.ico'|theme }}">
    <link rel="icon" sizes="128x128" href="{{ 'assets/images/favicon-128.png'|theme }}">
    <link rel="icon" sizes="192x192" href="{{ 'assets/images/favicon-192.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{{ 'assets/images/favicon-128.png'|theme }}">

    {% styles %}
    <link href="{{ 'assets/css/app.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/framework.extras.min.css'|theme }}" rel="stylesheet">
</head>
<body>
